{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
    <h1>Agenda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Availablity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td>{{ agenda.id }}</td>
                <td>{{ agenda.availablity ? agenda.availablity|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('admin_app_agenda_show', {'id': agenda.id}) }}">show</a>
                    <a href="{{ path('admin_app_agenda_edit', {'id': agenda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_app_agenda_new') }}">Create new</a>
{% endblock %}
