{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <div class="sm:max-w-md mx-auto bg-white sm:rounded-lg overflow-hidden shadow-lg my-0 sm:my-6">
        <div class="p-4 bg-gray-800 text-white">
            <h1 class="text-2xl font-bold">Agenda de {{ agenda.owner.firstname }} {{ agenda.owner.lastname }}</h1>
        </div>
        <div class="p-4">
            <div class="mb-4">
                <a href="{{ path('admin_app_agenda_index') }}" class="gradient px-4 py-2 rounded-lg text-white font-bold create-new">
                    <i class="fas fa-arrow-left mr-2"></i>
                    {{ 'Retour à la liste'|trans }}
                </a>
            </div>
            <table class="table-auto w-full">
                <tbody>
                <tr>
                    <th class="border px-4 py-2">Id</th>
                    <td class="border px-4 py-2">{{ agenda.id }}</td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">{{ 'Disponibilités'|trans }}</th>
                    <td class="border px-4 py-2">{{ agenda.availabilityDays ? agenda.availabilityDays|join(', ') : '' }}</td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">{{ 'Practitien'|trans }}</th>
                    <td class="border px-4 py-2"><a href="{{ path('admin_app_user_show', {'id': agenda.owner.id}) }}" class="text-indigo-600 hover:text-indigo-900">{{ agenda.owner.firstname }} {{ agenda.owner.lastname }}</a></td>
                </tr>
                </tbody>
            </table>
            <div class="flex justify-between mt-4 flex-col sm:flex-row">
                <div class="flex justify-between gap-2">
                    {{ include('/Back/agenda/_delete_form.html.twig') }}
                    <a class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" href="{{ path('admin_app_agenda_edit', {'id': agenda.id}) }}">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
