{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    {{ dump(appointment) }}
    <div class="sm:max-w-md mx-auto bg-white sm:rounded-lg overflow-hidden shadow-lg my-0 sm:my-6">
        <div class="p-4 bg-gray-800 text-white">
            <h1 class="text-2xl font-bold">{{ appointment.date ? appointment.date|date('d/m/Y H:i') : '' }}</h1>
        </div>
        <div class="p-4">
            <div class="mb-4">
                <a href="{{ path('admin_app_appointment_index') }}" class="gradient px-4 py-2 rounded-lg text-white font-bold create-new">
                    <i class="fas fa-arrow-left mr-2"></i>
                    {{ 'Retour à la liste'|trans }}
                </a>
            </div>
            <table class="table-auto w-full">
                <tbody>
                <tr>
                    <th class="border px-4 py-2">Id</th>
                    <td class="border px-4 py-2">{{ appointment.id }}</td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">Date</th>
                    <td class="border px-4 py-2">{{ appointment.date ? appointment.date|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">Créneau</th>
                    <td class="border px-4 py-2">{{ appointment.slot ? appointment.slot : '' }}</td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">Practitien</th>
                    <td class="border px-4 py-2">
                        {% if appointment.patientId %}
                            <a href="{{ path('admin_app_user_show', {'id': appointment.patientId}) }}" class="text-blue-500 hover:text-blue-600">{{ appointment.patientId }}</a>
                        {% else %}
                            <span class="text-red-500">Non défini</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">Patient</th>
                    <td class="border px-4 py-2">
                        {% for patient in appointment.practitionerId %}
                            <a href="{{ path('admin_app_user_show', {'id': patient.id}) }}" class="text-blue-500 hover:text-blue-600">{{ patient.firstname }} {{ patient.lastname }} ({{ patient.roles.0 }})</a>
                        {% else %}
                            <span class="text-red-500">Non défini</span>
                        {% endfor %}
                    </td>
                </tr>
                {% if appointment.drugId.id is defined %}
                <tr>
                    <th class="border px-4 py-2">Médicament</th>
                    <td class="border px-4 py-2">
                        <a href="{{ path('admin_app_drug_show', {'id': appointment.drugId.id}) }}" class="text-blue-500 hover:text-blue-600">{{ appointment.drugId.name }}</a>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th class="border px-4 py-2">Type de consultation</th>
                    <td class="border px-4 py-2">
                        <a href="{{ path('admin_app_consultation_show', {'id': appointment.consultationId.id}) }}" class="text-blue-500 hover:text-blue-600">{{ appointment.consultationId.name }}</a>
                    </td>
                </tr>
                <tr>
                    <th class="border px-4 py-2">Payé ?</th>
                    <td class="border px-4 py-2">
                        {% if appointment.paid %}
                            Ok
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="flex justify-between mt-4 flex-col sm:flex-row">
                <div class="flex justify-between gap-2">
                    {{ include('/Back/appointment/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
