<div class="mt-8">
    {{ form_start(form) }}
    <div class="mb-4">
        {{ form_label(form.name, 'Nom', {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.name, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.description, 'Description', {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'rows': 5}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.price, 'Prix (en €)', {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(form.price, {'attr': {'class': 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'step': 0.01}}) }}
        {{ form_errors(form.price, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.stock, 'Stock', {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(form.stock, {'attr': {'class': 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.stock, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="flex items-center justify-between flex-col sm:flex-row">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4 w-full" type="submit">
            {{ button_label|default('Sauvegarder') }}
        </button>
    </div>
    {{ form_end(form) }}
</div>