{% extends 'base.html.twig' %}

{% block title %}Drug index{% endblock %}

{% block body %}
    <h1>Drug index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drug in drugs %}
            <tr>
                <td>{{ drug.id }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ drug.description }}</td>
                <td>{{ drug.price }}</td>
                <td>{{ drug.stock }}</td>
                <td>
                    <a href="{{ path('admin_app_drug_show', {'id': drug.id}) }}">show</a>
                    <a href="{{ path('admin_app_drug_edit', {'id': drug.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_app_drug_new') }}">Create new</a>
{% endblock %}
