{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Créneaux</th>
                <td>{{ appointment.slot ? appointment.slot|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Patient_id</th>
                <td>{{ appointment.patientId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_appointment_index') }}">back to list</a>

    <a href="{{ path('app_user_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('/Front/appointment/_delete_form.html.twig') }}
{% endblock %}
