{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
<h1>Votre agenda</h1>

<div class="flex justify-end text-2xl pt-4 px-4">
    <button class="rounded-full w-10 h-10 hover:bg-gray-300">
        {% if agenda.owner %}
            <a href="{{ path('app_agenda_edit') }}">
                <i class="fa-solid fa-gear"></i>
            </a>
        {% else %}
            <a href="{{ path('app_agenda_new') }}">
                <i class="fa-solid fa-gear"></i>
            </a>
        {% endif %}
    </button>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Vos jours de disponibilités</th>
        <th>Vos créneaux de disponibilités</th>
    </tr>
    </thead>
    <tbody>
    {% if agenda %}
    <tr>
        <td>{{ agenda.availabilityDays ? agenda.availabilityDays|join(', ') : '' }}</td>
        <td>{{ agenda.slots ? agenda.slots|join(', ') : '' }}</td>
        {#<td>
                    <a href="{{ path('app_agenda_show', {'id': agenda.id}) }}">show</a>
                    <a href="{{ path('app_agenda_edit', {'id': agenda.id}) }}">edit</a>
                </td>#}
    </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
