{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
                <div class="max-w-md mx-auto">
                    <div class="mb-10">
                        <a href="{{ path('admin_app_user_index') }}" class="gradient px-4 py-2 rounded-lg text-white font-bold create-new">
                            <i class="fas fa-arrow-left mr-2"></i>
                            {{ 'Retour à la liste'|trans }}
                        </a>
                    </div>
                    <div class="flex items-center space-x-5">
                        <i class="fas fa-user-edit fa-3x text-blue-500"></i>
                        <div class="font-bold text-xl text-gray-900">
                            Edit {{ user.firstname }} {{ user.lastname }}
                        </div>
                    </div>
                    {{ include('/Back/user/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
