{% extends 'base.html.twig' %}

<ul>
    <li>Utilisateurs : <a href="{{ path('admin_app_user_index') }}"></a></li>
    <li>Clinic : <a href="{{ path('admin_app_clinic_index') }}"></a></li>
    <li>Consultation : <a href="{{ path('admin_app_consultation_index') }}"></a></li>
    <li>espace personnelle : <a href="{{ path('admin_app_document_storage_index') }}"></a></li>
    <li>Drug : <a href="{{ path('admin_app_drug_index') }}"></a></li>
    <li>Spécialité : <a href="{{ path('admin_app_speciality_index') }}"></a></li>
    <li>Rendez-vous : <a href="{{ path('admin_app_appontment_index') }}"></a></li>
</ul>
