{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
    <div class="flex justify-center md:my-8">
        <div class="w-full md:max-w-sm rounded overflow-hidden md:shadow-lg">
            <img class="w-full" src="{{ asset('assets/img/failure_payment.png') }}" alt="failure">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ 'Paiement refusé'|trans }}</div>
                <p class="text-gray-700 text-base">
                    {{ 'Votre paiement a été refusé, veuillez réessayer ultérieurement.'|trans }}
                </p>
            </div>
            <div class="px-6 py-4">
                <!-- Button blue to return to homepage -->
                <a href="{{ path('app_front_index') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ 'Retour à l\'accueil'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

